body {
	padding: 0;
	margin:0;
	}

html, body, #mapid {
    height: 100%;
	font-family: 'Asap', sans-serif;
	}
	
a {
	text-decoration:none;
	color:white;
	}
	
a:hover {
	color: #657eb6;
	}
	
.hyperlien {
	color:white;
	border-radius:4px;
}
	
.hyperlien:hover {
	color: #657eb6;
	background-color: yellow;
	border-radius:4px;
}

.download {
	color:white;
	padding:2px;
	border-radius:4px;
	font-style: italic;
	font-weight: bold;
	font-size:0.9em;
	line-height:12px;
}

.downloadCell{
	background-color: #849bc5;
}

.download:hover{
	background-color: yellow;
	border-radius:4px;
}

i {
	font-size:0.9em;
	font-style: italic;	
	}
	
strong {
	font-weight: bold;
	}
		
h1{
	font-size:1.5em;
	text-transform:uppercase;
	color: white;
	}
	
h2{
	font-size:1.4em;
	font-weight: bold;
	text-decoration: underline;
	padding-bottom:30px;
	padding-top:-65px;
	margin:0;
}

h3{
	font-size:0.9em;
	font-weight: bold;
	color: #3b4358;
}

.presentation {
	color: #3b4358;
	line-height: 1.1em;
	padding-top:10px;
}

.paragraphe {
	padding-left:10px;
	font-size:0.9em;
	line-height: 1em;
}
	
.leaflet-left {
	left: 0;
	}	
	
.fas {
  color : white;
}

.description {
    font-size: 1em;
    font-weight: bold;
    color: #ffffff;
}

.cooperation { 
    color: #8a2655;
}

.territoire { 
    color: #657eb6;
}
	
#sources {
	margin-top:50px;
	font-size:0.8em;
	}

.Tooltips {
	font-size:1.2em;
	padding:0 3px;
	border:none;
	font-weight: bold;	
	margin: -25px 0px;
	color:white;
	}
	
.TooltipsTerr {
	background-color: #657eb6;
	}

.TooltipsCoop {
	background-color: #8a2655;
	}

.bas {
	margin-top:50px;
}

.button_container {
	margin:10px;
	}
	
.bouton_telecharger {
	background-color: #657eb6;
	opacity:1;
	width:100%;
	color: white;
	font-weight: bold;
	border-radius: 10px;
	cursor:pointer;
	padding:5px;
	font-size:0.9em;
}

.bouton_telecharger:hover {
	background-color: yellow;
	color: #657eb6;
}

.bouton_telecharger:hover a {
	color: #657eb6;
}

#lien:hover {
	color: #657eb6;
}

	/*Affichage des onglets*/	
		
#popup {
	display: none;
	}
	
#coop {
	display: none;
	}
	
#defaut {
	display: block;
	}
	
.onglets{
	background-color: #3b4358;
}


.onglets:hover {
	color: #657eb6;
	background-color: yellow;
}

.onglets_on a{
	background-color: #f26664;
	border : 0.1px solid #5a6687;
}

.retour {
	cursor:pointer;	
	margin-top:35px;
	padding:5px;
		}
		
.retour:hover {
	color: #657eb6;
	background-color: yellow;
	border-radius:4px;
	
	}

/*Style du tableau*/
	
.divTable{
	display: table;
}


.divTableRow {
	display: table-row;
}

.divTableCell, .divTableHead {
	border: 1px solid rgba(255,255,255,0.5);
	vertical-align:middle;
	padding: 10px;
}

.divTableBody {
	display: table-row-group;
}

.chiffre{
	font-size:1.3em;
	font-weight: bold;
	color:#f26664;
}

.liste{
	cursor:pointer;
}

.liste:hover {
	color:yellow;
}


#tip {
	display:none;
	font-size:0.9em;
    position: absolute;
	top: 30%;
	left: 40%;
	background-color: rgba(208,216,233,0.97);
	width:400px;
	z-index: 3000;
	text-align:center;
	padding:10px;
	border-radius:20px;
}

