body {
	padding: 0;
	margin:0;
	}

html, body, #mapid {
    height: 100%;
	font-family: 'Asap', sans-serif;
	}
	
a {
	text-decoration:none;
	color:white;
	}
	
a:hover {
	color: #fff;
	}
	
.hyperlien {
	color:#fff;
	border-radius:4px;
}
	
.hyperlien:hover {
	color: #007282;
	background-color: yellow;
	border-radius:4px;
}

i {
	font-size:0.9em;
	font-style: italic;	
	}
	
strong {
	font-weight: bold;
	}
		
h1{
	font-size:1.5em;
	text-transform:uppercase;
	color: #fff;
	padding-bottom:10px;
	}
	
h2{
	font-size:1.4em;
	font-weight: bold;
	padding-bottom:10px;
	margin:0;
}

h3{
	font-size:0.9em;
	font-weight: bold;
	color: #dfeced;
	padding:5px;
	margin:0;
}

.presentation {
	color: #dfeced;
	line-height: 1.1em;
	padding-top:10px;
}

.paragraphe {
	padding-left:10px;
	font-size:0.9em;
	line-height: 1em;
}
	
.leaflet-left {
	left: 0;
	}	
	
.fas {
  color : white;
}

.description {
    font-size: 1em;
    font-weight: bold;
    color: #ffffff;
}

.cooperation { 
    color: #a44317;
}

.territoire { 
    color: #00004c;
}
	
#sources {
	margin-top:50px;
	font-size:0.8em;
	}

.Tooltips {
	font-size:1.2em;
	padding:0 3px;
	border:none;
	font-weight: bold;	
	margin: -25px 0px;
	color:white;
	}
	
.TooltipsTerr {
	background-color: blue;
	}

.TooltipsCoop {
	background-color: orange;
	}

.bas {
	margin-top:50px;
}

.button_container {
	margin:10px;
	}
	
.bouton_telecharger {
	background-color: #657eb6;
	opacity:1;
	width:100%;
	color: white;
	font-weight: bold;
	border-radius: 10px;
	cursor:pointer;
	padding:5px;
	font-size:0.9em;
}

.bouton_telecharger:hover {
	background-color: yellow;
	color: #657eb6;
}

.bouton_telecharger:hover a {
	color: #657eb6;
}

#lien:hover {
	color: #657eb6;
}

	/*Affichage des onglets*/	
		
#fiche_territoire {
	display: none;
	}
	
#fiche_cooperation {
	display: none;
	}

#divInfos {
	display: none;
	color: #004e5f;
	}
	
#defaut {
	display: block;
	}
	
.onglets{
	background-color: #428e9b;
	color: #c5dcdd;
}


.onglets:hover {
	color: #007282;
	background-color: yellow;
}

.retour {
	cursor:pointer;	
	margin-top:35px;
	padding:5px;
	color: #c5dcdd;
		}
		
.retour:hover {
	color: #007282;
	background-color: yellow;
	border-radius:2px;
	
	}

/*Style du tableau*/
	
.divTable{
	display: table;
}


.divTableRow {
	display: table-row;
}

.divTableCell, .divTableHead {
	border: 1px solid rgba(223,236,237,0.5);
	vertical-align:middle;
	padding: 8px;
}

.divTableBody {
	display: table-row-group;
}

.chiffre{
	font-size:1.3em;
	font-weight: bold;
	color:#f26664;
}

.liste{
	cursor:pointer;
	list-style: none;
}

.liste:hover {
	color:yellow;
}


.tip {
	color: #007282;
	position:absolute;
	left:45px;
	top: auto;
	margin-top: -35px;
	width:100px;
	background-color: yellow;
	border-radius: 4px;
	font-size:0.8em;
	padding:4px;
	display: none;
	transition: opacity 0.2s;
	z-index: 1000;
}

.labelClassReg {
	line-height:9px;	
	font-size:0.9em;
	font-weight: bold;
	color:rgba(0,65,77,1);
	text-align:center;
}

.labelClassDep {
	line-height:9px;	
	font-size:0.85em;
	font-weight: bold;
	color:rgba(0,65,77,0.9);
	text-align:center;
}

.labelClassCan {
	line-height:8px;	
	font-size:0.8em;
	font-weight: bold;
	color:rgba(0,65,77,0.8);
	text-align:center;
}

